@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-background {
  background-color: rgba(217 ,217,217 ,0.44);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
  width: fit-content;
}

.start-button-home {
  background-color: rgba(217 ,217,217 ,0.44);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.setselectable-home {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.background-home {
  background: rgb(7,186,186);
  background: linear-gradient(180deg, rgba(7,186,186,1) 0%, rgba(255,255,255,1) 100%);
}

.titleFont-beforeClick-home {
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0px 21px 4px rgba(0, 0, 0, 0.25);
}

.titleFont-afterClick-home {
  color: #200707;
  font-weight: 600;
}

.background-text-home {
  background-color: rgba(255,255,255,0.20);

}